{%extends 'base.html'%}

{%block change_block%}
<input type="button" class=" nav-link add-user btn custombtn mr-2 ms-2" name="add-user" onclick="window.location.href='/roles/add';" value="+ Add Roles">
                    {%endblock%}

{% block content_block %}
<div class="main-content mt-2">
    
    
    
      <div class="card mc ms-5" style="width: 50rem;">
        
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Role</th>
                        <th scope="col">Users</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                  {% for role in roles_with_counts %}
                    <tr>
                        <td>
                            <a href="#" class="text-primary me-2"><i class="fas fa-edit"></i></a>
                            <a href="{%url 'role_detail' role.id %}" class="text-success me-2"><i class="fas fa-eye"></i></a>
                            <a href="#" class="text-info"><i class="fas fa-copy"></i></a>
                        </td>
                        <td>{{role.name}}</td>
                        
                          <td>{{ role.user_count }}</td>
                      
                        <td>Active</td>
                    </tr>
                    {%endfor%}
                    <!-- Additional rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}