{%extends 'base.html'%}


{%block change_block%}
<input type="button" class=" nav-link add-user btn custombtn mr-2 ms-2" name="add-user" onclick="window.location.href='/leadstages/add';" value="+ Add LeadStages">
{%endblock%}
{% block content_block %}
<div class="main-content mt-2">
    <div class="card ms-4">
    
        <div class="card-body" style="width: 60rem;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Name</th>
                        
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                  {% for leadstage in leadstages %}
                    <tr>
                        <td>
                          <a href="#" class="text-danger"><i class="fas fa-trash"></i></a>
    
                        </td>
                        <td>{{leadstage.name}}</td>
                        
                          
                      
                        <td>Active</td>
                    </tr>
                    {%endfor%}
                    <!-- Additional rows as needed -->
                </tbody>
            </table>
        </div>
    </div> 
</div>
{% endblock %}