<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
        .form-contrl {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="%23000" d="M2 0L0 2h4z"/></svg>') no-repeat right 0.75rem center/8px 10px;
            padding-right: 1.75rem;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userType" id="clientRadio" value="Client" onclick="setPersonType('Client')">
                            <label class="form-check-label" for="clientRadio">Client</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userType" id="employeeRadio" value="Employee" onclick="setPersonType('Employee')">
                            <label class="form-check-label" for="employeeRadio">Employee</label>
                        </div>
                        <button class="btn btn-danger ms-auto" id="closeButton" onclick="window.location.href='/';">Close</button>
                    </div>

                    <div id="customerForm" class="card-body hidden">
                        <h5 class="card-title">Register Complaint</h5>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-sm-6 hidden">
                                    <label for="person_type" class="form-label">Person Type:</label>
                                    <input name="person_type" type="text" class="form-control" id="person_type" value="">
                                </div>
                                <div class="col-sm-6">
                                    <label for="requester_name" class="form-label">Requester Name:</label>
                                    <input name="requester_name" type="text" class="form-control" id="requester_name" value="{{ customer.company_name }}">
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Designation:</label>
                                    <input type="text" name="designation" class="form-control" id="" value="" readonly>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Email:</label>
                                    <input type="email" name="email" class="form-control" id="" value="{{ customer.email }}" readonly>
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Phone Number:</label>
                                    <input type="text" name="phone_number" class="form-control" id="" value="{{ customer.mobile }}" readonly>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-12">
                                    <label for="id_defult_issues" class="form-label">Default Issues:</label>
                                    {{ form.defult_issues }}
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Complaint:</label>
                                    <textarea name="complaint" class="form-control" id="" rows="3"></textarea>
                                </div>
                                <!-- <div class="form-group col-sm-12">
                                    <label for="" class="form-label">Assign_to:</label>
                                    {{ form.assign_to }}
                                </div> -->
                            </div>
                            <button class="btn btn-success full-width" type="submit">Submit</button>
                        </form>
                    </div>

                    <div id="employeeForm" class="card-body hidden">
                        <h5 class="card-title">Register Complaint</h5>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-sm-6 hidden">
                                    <label for="person_type" class="form-label">Person Type:</label>
                                    <input type="text" name="person_type" class="form-control" id="person_type_employee" value="Employee">
                                </div>
                                <div class="col-sm-6">
                                    <label for="requester_name" class="form-label">Requester Name:</label>
                                    <input type="text" name="requester_name" class="form-control" id="requester_name" value="">
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Designation:</label>
                                    <input type="text" name="designation" class="form-control" id="" value="">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Email:</label>
                                    <input type="email" name="email" class="form-control" id="" value="" >
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Phone Number:</label>
                                    <input type="text" name="phone_number" class="form-control" id="" value="" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-12">
                                    <label for="id_defult_issues" class="form-label">Default Issues:</label>
                                    {{ form.defult_issues }}
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Complaint:</label>
                                    <textarea name="complaint" class="form-control" id="" rows="3"></textarea>
                                </div>
                                <!-- <div class="form-group col-sm-12" name="assign_to">
                                    <label for="" class="form-label">Assign_to:</label>
                                    {{ form.assign_to }}
                                </div> -->
                            </div>
                            <button class="btn btn-success full-width" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="card-footer">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <script>
        function setPersonType(type) {
            document.getElementById('person_type').value = type;
            if (type === 'Client') {
                showCustomerForm();
            } else if (type === 'Employee') {
                showEmployeeForm();
            }
        }

        function showCustomerForm() {
            document.getElementById("customerForm").classList.remove("hidden");
            document.getElementById("employeeForm").classList.add("hidden");
        }

        function showEmployeeForm() {
            document.getElementById("employeeForm").classList.remove("hidden");
            document.getElementById("customerForm").classList.add("hidden");
        }

        document.getElementById('closeButton').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
